body
{
	font-family: Verdana;
	text-align: justify;
	background-color: lightblue;
	margin-top: 10vh;
	margin-bottom: 10vh;
	margin-left: 10vw;
	margin-right: 10vw;
	line-height: 2;
	background-image: url("images/old_moon.png");
	background-repeat: repeat;
	background-position: center;
	background-attachment: fixed;
}


h1, h2, h3
{
	font-family: Century Gothic;
	text-align: center;
}

a:link
{
	font-weight: normal; 
	color: blue;   
	text-decoration:none;
}

a:visited
{ 
   font-weight: normal; 
   color: purple;  
   text-decoration:none; 
}

.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sec
{
	padding-top: 10vh;
	padding-bottom: 10vh;
	padding-left: 5vw;
	padding-right: 10vw; 
}

.footer
{
	background-color: #5995DA;
}


#form
{
	background-color: #5995DA;
}

#about
{
	background-color: #B2D6FF;
}

#preguntas
{
	background-color: #EAEDF0;
}

#conceptos
{
	background-color: #F5CF8E;
}

#preguntascss
{
	background-color: #F09A9D;
}

#referencias
{
	background-color: #C8C6FA;
}